html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
html {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab {
  display: flex;
  padding: 0 20px;
  user-select: none;
}
.tab-item {
  cursor: pointer;
}
.tab-item:hover:not(.is-active) {
  opacity: .6;
}
.tab-item + .tab-item {
  margin-left: 20px;
}
.tab-item.is-active {
  border-bottom: 1px solid;
}
.data {
  position: relative;
}
.div-block {
  display: block;
  max-width: 800px;
  margin: 0px auto;
  padding: 20px 20px 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; 
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity .25s;
  z-index: -1;
}
.div-block.is-active {
  position: static;
  opacity: 1;
  animation: horizontalShake 0.25s;
  z-index: 1;
}
 .paragraph {
  margin-top: 1px
 ;
  margin-bottom: 10px
 ;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px
 ;
  line-height: 30px
 ;
  font-weight: 400
 ;
 }
 .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f8f8ed
 ;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px
 ;
  line-height: 30px
 ;
 }
 .div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; 
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}
 .paragraph-2 {
  margin-top: 12px
 ;
 }
 .paragraph-3 {
  margin-top: 12px
 ;
 }
 .paragraph-4 {
  margin-top: 12px
 ;
 }
 .paragraph-5 {
  margin-top: 11px
 ;
  margin-bottom: 10px
 ;
 }
 .heading {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
 }
 .link {
  border-style: none;
  border-width: 0px;
  border-color: #fff;
  color: #459cff;
  text-decoration: none;
 }

 @keyframes horizontalShake {
  3%, 12%, 21%, 30%, 39%, 48%, 57%, 65%, 74%, 83%, 92% { transform: translateX(5px) }
  6%, 15%, 24%, 33%, 42%, 51%, 60%, 68%, 77%, 86%, 95% { transform: translateX(3px) }
  9%, 18%, 27%, 36%, 45%, 54%, 63%, 71%, 80%, 89%, 98% { transform: translateX(-5px) }
}